.box {
	display: flex;
	justify-content: space-between;
	height: 100vh;
  }

#video {
	background: lightblue;
	flex:1;
}

#video img {
	margin: 0 auto;
	text-align: center;
}

#map {
	flex: 1;
	/* Grow to rest of container */

	height: 640;

	background: lightgreen;
	/* Just so it's visible */
}
