{% extends 'base.html' %}

{% block head %}
<title>BeeApp</title>

{% endblock %}

{% block body %}
<header class="header">
	<nav class="navbar">
		<a href="#" class="nav-logo">BeeApp</a>
		<ul class="nav-menu">
			<li class="nav-item">
				<a href="/" class="nav-link">Home</a>
			</li>
			<li class="nav-item">
				<a href="/" class="nav-link">Video Feed</a>
			</li>
			<li class="nav-item">
				<a href="/" class="nav-link">About</a>
			</li>
		</ul>
		<div class="hamburger">
			<span class="bar"></span>
			<span class="bar"></span>
			<span class="bar"></span>
		</div>
	</nav>
</header>
<div class="content">
	<h1 class=""><span class="s1">BeeApp</span></h1>
	<form action="/combined">
		<input type="submit" value="START"> 
	</form>
</div>
{% endblock %}
